<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">    
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
    <title>Aria</title>
</head>
<body>
    
    <div class="container-fluid">
        <div class="row banner" id="home">
                <h2>Last Chance to save 50% off First Order!</h2>
        </div>
    </div>

    <div class="container-fluid">
            <div class="row nav-bar">
                        <div class="navbar-brand col-4">
                            <div>
                                <a class="navbar-item col-4" href="/#recipes"></a>Recipes</a>
                            </div>
                            <a class="navbar-item" href="/#home">Aria</a>
                        </div>
                        <div>
                            <a class="navbar-item col-4" id="myBtn">Sign Up</a>
                        </div>
                        <div>
                            <a class="navbar-item col-4" id="myBtn2">Sign In</a>
                        </div>
            </div>
    </div>

    <div class="row">
        <div class="">
            <h1>Cheese Show Page</h1>
            <a href="/">Home!</a>
            <p><%= Recipes.name %> </p>
            <p><%= Recipes.img %> </p>
            <p><%= Recipes.ingredients %></p>
            <p><%= Recipes.description %></p>     
        </div>
    </div>
    
</body>
</html>