
                <div class="hiw__footer"></div></div> 
        </section>

        <section class="hiw-index">
            <div class="hiw-card">
                <div class="hiw__header"><p>
                Select Recipes</p></div>
                <div class="hiw__content"><p >.</p></div>
                <div class="hiw__footer"></div><button><a href="/#recipes">Go To Recipes</a></button></div> 
            
        </section>

        <section class="hiw-index">
            <div class="hiw-card">
                <div class="hiw__header"><p>Choose Frequency of Servings</p></div>
                <div class="hiw__content"><p> </p></div>    
                <div class="hiw__footer"></div><button><a href="/#recipes">Go To Recipes</a></button></div> 
        </section>

        <section class="hiw-index">
            <div class="hiw-card">
                <div class="hiw__header"><p></p></div>
                <div class="hiw__content"><p></p></div>
                <div class="hiw__footer"></div><button><a href="/#recipes">Go To Recipes</a></button></div>     
            
        </section>

    </div>
</div>