<div class="container-fluid" id="how-it-works">
    <div class="row w-100">
        <section class="hiw-index">
            <div class="hiw-card">
                <div class="hiw__header"><p>Create Free Account</p></div>
                <div class="hiw__content"><p>Sign up for free! Customize our service for your pup's dietary needs</p></div>
                <div class="hiw__footer"></div><button><a href="/#recipes">Go To Recipes</a></button></div> 
        </section>

        <section class="hiw-index">
            <div class="hiw-card">
                <div class="hiw__header"><p>
                Select Recipes</p></div>
                <div class="hiw__content"><p >Choose from our recipes to fit your fur baby's needs! Select as many as you'd like and change at amny time.</p></div>
                <div class="hiw__footer"></div><button><a href="/#recipes">Go To Recipes</a></button></div> 
            
        </section>

        <section class="hiw-index">
            <div class="hiw-card">
                <div class="hiw__header"><p>Choose Frequency of Servings</p></div>
                <div class="hiw__content"><p> We will help you decide on how much to feed your BFF, based on age, weight, activity, and of course, how much you'd like to provide!</p></div>    
                <div class="hiw__footer"></div><button><a href="/#recipes">Go To Recipes</a></button></div> 
        </section>

        <section class="hiw-index">
            <div class="hiw-card">
                <div class="hiw__header"><p>Leave A Review</p></div>
                <div class="hiw__content"><p>Well... you don't HAVE to, but leaving a comment will help tell our community how we are doing!</p></div>
                <div class="hiw__footer"></div><button><a href="/#recipes">Go To Recipes</a></button></div>     
            
        </section>

    </div>
</div>