* {
    box-sizing:border-box;
}

body {
    background-color: aqua;
    
}

.container {
    display: flex;
}

.header {
    background-color: blue;
    color: red;
    height: 40px;
    width: 100vw;
    
}

h2 {
    justify-content: center;
}

/* .text-center {
    text-align: center;
} */