* {
    box-sizing:border-box;
}

body {
    background-color:rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    
}

/* Top Banner */

.container-fluid {
    display: flex;
}



/* Navbar */

nav {
    flex-direction:row;
    display: flex;
    width: 100vw;
    
}

.nav-bar {
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 80px;
    background-color: rgb(255, 255, 255);
    /* justify-content: center; */
    /* .navbar-brand{/* background-color: #35d0ba; */
    /* padding-left: 20px;} */
}

/* .navbar-item{
} */

.aria {
    font-family: 'Gloria Hallelujah', cursive;  
    font-size: 60px;
    color: rgb(58, 71, 96);
}

/* Landing Img Section */
.landing-img {
    background-image: url("https://i.kinja-img.com/gawker-media/image/upload/s--vatSl-DK--/c_fill,fl_progressive,g_center,h_900,q_80,w_1600/nmgyuepiyew1eiftirzq.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 1200px;
    position:relative;
}
/* ------> Call to Action Text */
.hero-button {
    z-index: 5;
    background-color: rgb(141, 46, 48);
    height: 65px;
    width: 300px;
    border: none;
    border-radius: 40px;
    position: absolute;
    top: 475px;
    right: 960px;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}

.hero-heading {
    z-index: 5;
    height: 100px;
    width: 700px;
    position: absolute;
    top: 220px;
    right: 750px;
    font-size: 2.5em;
    color: rgb(255, 255, 255);
    font-family: 'Gloria Hallelujah', cursive;
}

.hero-description {
    z-index: 5;
    height: 100px;
    width: 600px;
    position: absolute;
    top: 300px;
    right: 800px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
    text-align:center;
}

/* Info Graphics */ 
section {
    display: inline-block;
}

ul {
    list-style-type: none;
}

.graphics {
    line-height: 1.4em;
    text-align: justify;
}

.icon {
    justify-content: center;
}


.fa-dog {
    margin: 50px 0 30px 265px;
    font-size: 7em;
}

.fa-seedling {
    margin: 50px 0 30px 265px;
    font-size: 7em;
}

.fa-heart {
    margin: 50px 0 30px 265px;
    font-size: 7em;
}

.infographics {
    display:flex;
    flex-direction: row;
    background-color:rgb(255, 255, 255);
    height: 175px;
    width: 33vh;
}


.info {
    color: rgb(58, 71, 96);
    font-size: 2.7em;
    text-align: center;
    height: 20px;
    font-family: 'Gloria Hallelujah', cursive;
    
}

.human-grade {
    color: rgb(58, 71, 96);
    font-size: 1.7em;
    text-align: center;
    margin: 30px 0 0 0;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    
}
    
.organic {
    color: rgb(58, 71, 96);
    font-size: 1.7em;
    text-align: center;
    margin: 30px 0 0 0;
    font-family: 'Roboto', sans-serif;
    
}

.grassfed {
    color: rgb(58, 71, 96);
    font-size: 1.7em;
    text-align: center;
    margin: 30px 0 0 0;
    font-family: 'Roboto', sans-serif;
    
}

/* Recipe Cards */
.recipe-header {
    margin: 40px 0 0 0;
    text-align: center;
    width: 100%;
    font-size: 3.7em;
    font-family: 'Gloria Hallelujah', cursive; 
}
.recipe-header-description {
    margin: 15px 0 0 0;
    text-align: center;
    width: 100%;
    font-size: 1.9em;
}
.card-index{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 25px 10px 10px 10px;

}

.card{
    width: 720px;
    height: 720px;
    border: none;
}

.card__header {
    text-align: center;
    line-height: 80px;
}

.card__header p {
    text-align: center;
    font-size: 60px;
    line-height: 80px;
}

.card__content {
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;

}

.card__content  img {
    width: 100%;
    height: 590px;
}

.card__footer {
 height: 80px;
}

/* How- T0 */
.hiw-index{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.hiw {
    width: 100px;
    height: 720px;
    
}

.hiw__header {
    text-align: center;
    line-height: 80px;
}

.hiw__header p {
    text-align: center;
    font-size: 60px;
    line-height: 80px;
}

.hiw__content {
    height: 150px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;

}

.hiw__content  img {
    width: 100%;
    height: 590px;
}

.hiw__footer {
 height: 80px;
}


ul {
    list-style-type: none;
}

.how {
    margin: 100px, 10px, 10px, 10px;
    text-align: center;
}

.how-it-works {
    display:flex;
    flex-direction: row;
    background-color:rgb(255, 255, 255);
    height: 500px;
    width: 25vh;
}

.how-to {
    color: rgb(58, 71, 96);
    font-size: 1.4em;
}

.step {
    color: rgb(58, 71, 96);
    font-size: 1em;
}








/* Recipe images/buttons */

.recipe {
    width: 33vw;
    height: 500px;
}
/* ----> make buttons and text and small call to actions */

/* bowl of food image */

 .bowl {
    margin: 180px 0 0 0;
    width: 100vw;
    height: 900px;
    overflow: hidden;
    object-fit: cover;

 }



 
 




